extends ../layouts/frontend
block title
    title Connexion
block content
    .login-page
        h1 Connexion
        include ../formMessage/formMessage.pug
        form.form-login(method="post", action="/auth/login")
            
            +field('email', 'email', 'Email')
            +field('password', 'password', 'Mot de passe',)
            button.btn-edit(type="submit") Login




mixin field(type, name, placeholder)
    label
        span=placeholder
        input(type=type, name=name, placeholder=placeholder, value=historyData ? historyData[name] : '')
