extends ../layouts/frontend

block content
    .login-page
        h1 Connexion
        if errors && errors.length > 0
            each error in errors
                p.msg-error= error
        if sucess && sucess.length > 0
            each suces in sucess
                p.msg-success= suces
        form.form-login(method="post", action="/auth/login")
            
            +field('email', 'email', 'Email')
            +field('password', 'password', 'Mot de passe',)
            button.btn-edit(type="submit") Login




mixin field(type, name, placeholder)
    label
        span=placeholder
        input(type=type, name=name, placeholder=placeholder, value=historyData ? historyData[name] : '')
