.card(data-name=`${user.firstname}${user.lastname}` data-localisation=`${user.city}${user.country}` data-category=user.category)
    if user.category =='Marketing'
        .category.marketing=user.category
    if user.category =='Client'
        .category.client=user.category
    if user.category =='Technique'
        .category.technique=user.category

    .img-card-cont
        if user && user.photo
            img(src=user.photo)

    .info-cont
        .title-cont
            if user
                h3 #{user.firstname} #{user.lastname}
                p.txt-secondary (#{utilsData.calculateAge(user.birthdate)} ans)
        p= `${user.city}, ${user.country}`
        if user
            p.txt-primary #{user.email}
            p.txt-primary #{user.phone}
            p.txt-secondary Anniversaire #{utilsData.formatBirthday(user.birthdate)}

            .action
                if session.isAdmin
                    button.btn-edit(type="button", onclick=`editUser('${user._id}')`) Éditer
                    button.btn-delete(type="button", onclick=`deleteUser('${user._id}','${user.firstname}','${user.lastname}')`) Supprimer
                
block scripts
    script.
        function editUser(userId) {
            const url = `/user/update/${userId}`;
            window.location.href = url;
        }
        function deleteUser(userId, firstname, lastname) {
            if (confirm(`Êtes-vous sûr de vouloir supprimer ${firstname} ${lastname} ?`)) {
                const url = `/user/delete/${userId}`;
                window.location.href = url;
            }
        }
