.card
    .category=user.category
   
    .img-card-cont
        if user && user.photo
            img(src=user.photo)
    .info-cont
        .title-cont
            if user
                h3 #{user.firstname} #{user.lastname}
                p.secondary (#{utilsData.calculateAge(user.birthdate)} ans)
        if user
            p #{user.email}
            p #{user.phone}
            p.secondary Anniversaire #{utilsData.formatBirthday(user.birthdate)}
            if isAdmin
                button Éditer 
                button Suprimer