extends ../layouts/frontend

block content
    if(user)
        h1=title
        
        form(method="post", action=url)
            label(for='gender')
                span * Civilité : 
            select(id='gender' name='gender')
                option(value='male') Homme
                option(value='female') Femme
            label(for='category')
                span * Catégorie : 
            select(id='category', name='category')
                option(value='marketing') Marketing
                option(value='client') Client
                option(value='technique') Technique
            label(for='lastname')
                span * Nom :
            input(type="text" id="lastname" name="lastname" value=user.lastname)
            label(for='firstname')
                span * Prénom :
            input(type="text" id="firstname" name="firstname" value=user.firstname)
            label(for='email')
                span * Email :
            input(type="email" id="email" name="email" value=user.email)
            label(for='password')
                span * Mot de passe :
            input(type="password" id="password" name="password" placeholder='min 6 caractères')
            label(for='confirmPassword')
                span * Confirmer le mot de passe :
            input(type="password" id="confirmPassword" name="confirmPassword" placeholder='min 6 caractères')
            label(for='phone')
                span * Téléphone :
            input(type="text" id="phone" name="phone" value=user.phone)
            label(for='birthdate')
                span * Date de naissance :
            input(type="date" id="birthdate" name="birthdate" value=user.birthdate)
            label(for='city')
                span * Ville :
            input(type="text" id="city" name="city" value=user.city)
            label(for='country')
                span * Pays :
            input(type="text" id="country" name="country" value=user.country)
            label(for='photo')
                span * Url de la photo :
            input(type="text" id="photo" name="photo" value=user.photo)
            button(type="submit").confirm-button=btnText
    if(!user)
        p Pouet