extends ../layouts/frontend

block content
    .list-page
        h1 Liste des collaborateurs

        form(id="filterForm" action="" method="get")
            input(type="text" placeholder="Recherche ..." name="search" value=historyData.search)
            label(for="searchBy")
                span Recherche par :
                select(id="searchBy" name="searchBy")
                    option(value="name", selected=historyData.searchBy === 'name') Nom
                    option(value="localisation", selected=historyData.searchBy === 'localisation') Localisation
            label(for="category")
                span Catégorie :
                select(id="category" name="category")
                    option(value="all", selected=historyData.category === 'all') Tous
                    option(value="Marketing", selected=historyData.category === 'Marketing') Marketing
                    option(value="Technique", selected=historyData.category === 'Technique') Technique
                    option(value="Client", selected=historyData.category === 'Client') Client
            button(type="submit") Rechercher

        .list-user
            each user in users
                include ./card.pug

